{% extends "layout.html" %}
{% block content %}
  <div class="hero-container">
    <div id="hero-text">
      <h1 class="display-4">Welcome to Tunes4Tube!</h1>
      <p class="lead">Tunes4Tube is your source for free background audio for your online videos!</p>
      <hr class="my-4">
      <p>All songs are free to use for all your audio needs.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="card col-md-4">
        <img class="card-img-top" src="/static/rock1resized.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rock</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/rock" class="btn btn-primary">Rock Songs</a>
        </div>
      </div>
      <div class="card col-md-4">
        <img class="card-img-top" src="/static/edm2resized.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Electronic</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/electronic" class="btn btn-primary">Electronic Songs</a>
        </div>
      </div>
      <div class="card col-md-4">
        <img class="card-img-top" src="/static/otherresized.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Other</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/other" class="btn btn-primary">Other Songs</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
